* {
  box-sizing: border-box;
}
html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Palette Mosaic", cursive;
  font-size: 62.5%;
  color: #fff;
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  overflow-x: hidden;
}
h1 {
  font-size: 3rem;
  padding: 20px;
  text-align: center;
}
.radio {
  display: flex;
  justify-content: center;
  margin: 50px 25px;
}
.radio-control__volume > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.radio-display {
  background-color: #292929;

  text-align: center;
  padding: 20px;
  flex-grow: 0.65;
  border-radius: 4px;
  font-size: 1.5rem;
  min-width: 65vw;
}
.stationName {
  font-size: 2rem;
}
@keyframes App-logo-spin {
  100% {
    transform: rotate(360deg);
  }
}
.radio-display img {
  border-radius: 50%;
  width: 25%;
}
.radio--playing {
  animation: 4s App-logo-spin linear infinite;
}
.save__presets button {
  background-color: #4c9f70;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
}
.radio-control h4 {
  margin: 20px auto;
}
.radio-control__buttons {
  display: flex;
}
.radio-control__buttons > div {
  background-color: #292929;
  margin: 5px 10px;
  padding: 30px 20px;
  font-size: 2rem;
  border-radius: 4px;
}
.radio-control__tune {
  flex-grow: 1;
}
.radio-control__buttons {
  display: inline-block;
}
.radio-display__controls svg {
  font-size: 80px;
  margin: 15px 20px;
  cursor: pointer;
}

.rhap_main-controls {
  margin: 25px 0;
}
.rhap_controls-section {
  display: inline-flex;
  align-items: center;
}
.rhap_controls-section button {
  background-color: #292929;

  border: none;
  color: #fff;
  display: inline-flex;
}
.save__presets {
  position: relative;
}
.cancel_preset {
  position: absolute;
  top: 1px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cancel_preset svg,
.cancel_preset div {
  font-size: 1rem;
  margin: 0 3px;
}
.cancel_preset:hover {
  color: red;
  background: white;
  z-index: 10;
}
/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
  /* Large Desktop */
  .radio {
    flex-wrap: wrap;
  }
  .radio-control__buttons {
    display: flex;
  }
  .stationName {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 780px) {
  /* tablet */
  .radio {
    margin: 30px 15px;
  }
  .radio-control__buttons {
    display: inline-block;
  }
  .radio-display {
    min-width: 100%;
  }
  .radio-display img {
    width: 60%;
  }
}
@media screen and (max-width: 480px) {
  /* mobile */
  h1 {
    font-size: 2rem;
  }
  .radio {
    margin: 14px 7px;
  }
  .radio-control {
    flex-grow: 1;
  }
  .radio-control__buttons > div {
    padding: 10px 20px;
    font-size: 1.5rem;
  }

  .save__presets button {
    font-size: 1rem;
    padding: 10px 20px;
  }
  .radio-display {
    padding: 10px;
    font-size: 1rem;
  }
  .stationName {
    font-size: 1rem;
  }
  .rhap_main-controls {
    margin: 0;
  }
  .radio-display__controls svg {
    font-size: 50px;
  }
}
